<?xml version="1.0" ?>

<launch>

	<arg default="$(find tortoisebotpro_description)/urdf/tortoisebotpro.xacro" name="model"/>
	<arg default="$(find tortoisebotpro_description)/rviz/urdf.rviz" name="rvizconfig"/>

	<param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
	<node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

</launch>
